Repository Team-HMH/HMH-Android, pull requests merged in 2023-12, with the labels that each got.

#1 [setting]: build-logic 추가 작업
  app/build.gradle.kts
  app/src/main/res/values/themes.xml
  build-logic/convention/build.gradle.kts
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/AndroidApplicationPlugin.kt
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/AndroidHiltPlugin.kt
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/AndroidKotlinPlugin.kt
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/AndroidTestPlugin.kt
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/CommonConfigs.kt
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/ComposePlugin.kt
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/JUnit5Plugin.kt
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/KotlinSerializationPlugin.kt
  build-logic/gradle.properties
  build-logic/gradle/wrapper/gradle-wrapper.properties
  build-logic/settings.gradle.kts
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/gradle.properties
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/plugin.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: setting

#3 [setting/setting]: 깃 기초 셋팅 작업
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/auto_assign.yml
  .github/workflows/develop_PR_builder.yml
  .gitignore
  app/build.gradle.kts
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/CommonConfigs.kt
Labels: 🐱의진, 🔧setting

#12 [setting/firebase]: 파이어베이스 추가작업
  .github/workflows/develop_PR_builder.yml
  app/build.gradle.kts
Labels: 🐱의진, 🔧setting

#17 [feat/core]: core module 추가 및 확장 Kotlin Version 1.9.20 update
  app/build.gradle.kts
  build-logic/convention/src/main/kotlin/com/hmh/hamyeonham/plugin/AndroidFeaturePlugin.kt
  core/common/.gitignore
  core/common/build.gradle.kts
  core/common/consumer-rules.pro
  core/common/src/main/AndroidManifest.xml
  core/common/src/main/java/com/hmh/hamyeonham/common/activity/ActivityExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/ad/AdName.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/compose/Border.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/compose/DefaultPreview.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/context/ContextExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/fragment/FragmentExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/image/BitampRequestBody.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/image/ContentUriReqeustBody.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/image/UriExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/intent/ArgsExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/intent/ExtraExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/lifecycle/Event.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/lifecycle/LifecycleExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/lifecycle/SingleLiveEvent.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/navigation/NavigationProvider.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/okhttp/RequestBodyExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/okhttp/ResponseExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/primitive/StringExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/qualifier/Auth.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/qualifier/Interceptor.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/qualifier/OAuth.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/time/TimeExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/view/Binding.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/view/DialogFragmentExt.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/view/Pixel.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/view/ViewExt.kt
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: 🐱의진, 💻feat, 🔧setting

#15 [feat/splash] 스플래쉬 화면 구현
  app/build.gradle.kts
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/hmh/hamyeonham/MainActivity.kt
  app/src/main/res/anim/fade_out.xml
  app/src/main/res/values/themes.xml
Labels: 💻feat, 🐰유리

#21 [feat/number_picker]: 넘버 피커로 시간, 분 선택 뷰 샘플 구현
  app/build.gradle.kts
  app/src/main/java/com/hmh/hamyeonham/MainActivity.kt
  feature/onboarding/.gitignore
  feature/onboarding/build.gradle.kts
  feature/onboarding/consumer-rules.pro
  feature/onboarding/proguard-rules.pro
  feature/onboarding/src/androidTest/java/com/hmh/hamyeonham/feature/onboarding/ExampleInstrumentedTest.kt
  feature/onboarding/src/main/AndroidManifest.xml
  feature/onboarding/src/main/java/com/hmh/hamyeonham/feature/onboarding/OnBoardingActivity.kt
  feature/onboarding/src/main/res/layout/activity_on_boarding.xml
  feature/onboarding/src/main/res/layout/dialog_numberpicker_custom.xml
  feature/onboarding/src/main/res/values/strings.xml
  feature/onboarding/src/main/res/values/themes.xml
  feature/onboarding/src/test/java/com/hmh/hamyeonham/feature/onboarding/ExampleUnitTest.kt
  settings.gradle.kts
Labels: 💻feat, 🐰유리
