Repository Team-HMH/HMH-Android, pull requests merged in 2024-05, with the labels that each got.

#182 [feat/challenge create]: 새로운 챌린지 생성시 받을 포인트가 있다면 챌린지 생성 불가 기능
  core/common/src/main/java/com/hmh/hamyeonham/common/fragment/FragmentExt.kt
  core/viewmodel/main/src/main/java/com/hmh/hamyeonham/core/viewmodel/MainViewModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeFragment.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/appadd/appselection/AppSelectionFragment.kt
  feature/challenge/src/main/res/layout/frargment_app_selection.xml
  feature/challenge/src/main/res/layout/item_app.xml
  feature/challenge/src/main/res/values/strings.xml
Labels: 💻feat, 🐥지현

#176 [feat/activate_trash_icon]: 5분 이상 사용 앱 삭제 불가 기능 추가
  core/common/src/main/java/com/hmh/hamyeonham/common/time/TimeExt.kt
  core/viewmodel/main/src/main/java/com/hmh/hamyeonham/core/viewmodel/MainViewModel.kt
  data/challenge/src/main/java/com/hmh/hamyeonham/data/challenge/mapper/ChallengeMapper.kt
  domain/usagestats/src/main/java/com/hmh/hamyeonham/usagestats/model/UsageStatusAndGoal.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeFragment.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeUsageGoalsAdapter.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeViewModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/appadd/AppAddViewModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/goals/ChallengeUsageGoalsAdapter.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/goals/ChallengeViewHolder.kt
  feature/challenge/src/main/res/values/strings.xml
  feature/main/src/main/java/com/hmh/hamyeonham/feature/main/home/HomeFragment.kt
  feature/main/src/main/java/com/hmh/hamyeonham/feature/main/home/UsageStaticsViewHolder.kt
  feature/main/src/main/res/layout/item_usagestatic.xml
Labels: 💻feat, 🐥지현

#195 [fix/mypage_ui]: 마이페이지 중앙정렬 맞추기
  feature/mypage/src/main/res/layout/fragment_my_page.xml
Labels: 💊fix, 🐥지현

#187 [ feat/challenge generation]: 챌린지 생성 기능 추가
  core/common/src/main/java/com/hmh/hamyeonham/common/time/TimeExt.kt
  core/network/src/main/java/com/hmh/hamyeonham/core/network/challenge/ChallengeService.kt
  core/network/src/main/java/com/hmh/hamyeonham/core/network/challenge/model/NewChallengeRequest.kt
  core/network/src/main/java/com/hmh/hamyeonham/core/network/usagegoal/DailyChallengeService.kt
  core/network/src/main/java/com/hmh/hamyeonham/core/network/usagegoal/model/UsageGoalResponse.kt
  core/viewmodel/main/src/main/java/com/hmh/hamyeonham/core/viewmodel/MainViewModel.kt
  data/challenge/src/main/java/com/hmh/hamyeonham/data/challenge/mapper/ChallengeMapper.kt
  data/challenge/src/main/java/com/hmh/hamyeonham/data/challenge/mapper/ChallengeStatusMapper.kt
  data/challenge/src/main/java/com/hmh/hamyeonham/data/challenge/mapper/NewChallengeMapper.kt
  data/challenge/src/main/java/com/hmh/hamyeonham/data/challenge/repository/DefaultChallengeRepository.kt
  domain/challenge/src/main/java/com/hmh/hamyeonham/challenge/model/ChallengeStatus.kt
  domain/challenge/src/main/java/com/hmh/hamyeonham/challenge/model/NewChallenge.kt
  domain/challenge/src/main/java/com/hmh/hamyeonham/challenge/repository/ChallengeRepository.kt
  domain/challenge/src/main/java/com/hmh/hamyeonham/challenge/usecase/NewChallengeUseCase.kt
  feature/challenge/src/main/AndroidManifest.xml
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeFragment.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeViewModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/newchallenge/NewChallengeActivity.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/newchallenge/NewChallengeViewModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/newchallenge/NewChallengeViewPagerAdapter.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/newchallenge/periodselection/PeriodSelectionFragment.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/newchallenge/timeselection/TimeSelectionFragment.kt
  feature/challenge/src/main/res/drawable/new_challenge_data_list.xml
  feature/challenge/src/main/res/drawable/new_challenge_data_list_selected.xml
  feature/challenge/src/main/res/drawable/new_challenge_selector_btn_data.xml
  feature/challenge/src/main/res/layout/activity_new_challenge.xml
  feature/challenge/src/main/res/layout/fragment_period_selection.xml
  feature/challenge/src/main/res/layout/fragment_time_selection.xml
  feature/challenge/src/main/res/values/strings.xml
  feature/mypage/build.gradle.kts
Labels: 💻feat, 🐥지현

#190 [feat/splash_lottie]: 스플래쉬 화면 로티 파일로 교체
  app/build.gradle.kts
  app/src/main/java/com/hmh/hamyeonham/SampleActivity.kt
  app/src/main/res/anim/fade_out.xml
  app/src/main/res/layout/activity_sample.xml
  app/src/main/res/raw/splash_background.json
  app/src/main/res/raw/splash_logo_white.json
  core/designsystem/src/main/res/values/themes.xml
Labels: 💻feat, 🐰유리

#193 [Feat/challenge calendar 20 30 UI]: 챌린지 14일 이상인 경우 캘린더 접힘 펼침 구현
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeFragment.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeViewModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/calendar/ChallengeCalendarAdapter.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/calendar/ChallengeStatusViewHolder.kt
  feature/challenge/src/main/res/layout/fragment_challenge.xml
  feature/challenge/src/main/res/values/strings.xml
  feature/onboarding/src/main/java/com/hmh/hamyeonham/feature/onboarding/viewmodel/OnBoardingSelectDataViewModel.kt
Labels: 💻feat, 🐰유리

#196 [Feat/point api]: 포인트 뷰, 포인트 받기 API
  app/src/main/java/com/hmh/hamyeonham/navigation/DefaultNavigationProvider.kt
  core/common/src/main/java/com/hmh/hamyeonham/common/navigation/NavigationProvider.kt
  core/network/src/main/java/com/hmh/hamyeonham/core/network/point/PointService.kt
  core/network/src/main/java/com/hmh/hamyeonham/core/network/point/model/PointEarnRequest.kt
  core/network/src/main/java/com/hmh/hamyeonham/core/network/point/model/PointListResponse.kt
  data/point/src/main/java/com/hmh/hamyeonham/data/point/PointMapper.kt
  data/point/src/main/java/com/hmh/hamyeonham/data/point/repository/DefaultPointRepository.kt
  domain/point/src/main/java/com/hmh/hamyeonham/domain/point/model/EarnPoint.kt
  domain/point/src/main/java/com/hmh/hamyeonham/domain/point/model/PointInfo.kt
  domain/point/src/main/java/com/hmh/hamyeonham/domain/point/repository/PointRepository.kt
  feature/challenge/build.gradle.kts
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/ChallengeFragment.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/point/PointActivity.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/point/PointAdapter.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/point/PointModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/point/PointViewModel.kt
  feature/challenge/src/main/java/com/hmh/hamyeonham/challenge/point/dummy.kt
  feature/challenge/src/main/res/drawable/point_button_background_failure.xml
  feature/challenge/src/main/res/drawable/point_button_background_none.xml
Labels: 💻feat, 🐰유리
